@charset "UTF-8";
@font-face {
  font-family: 'FonteLogo';
  src: url("myriad-pro-8.otf");
}

body {
  background-color: #1d1a73;
}

#menu {
  display: block;
  width: 405px;
  height: 870px;
  float: left;
  border-bottom: 5px solid;
  padding-right: 15px;
  background-color: #1d1a73;
  color: white;
  font-family: 'FonteLogo';
  font-size: 20pt;
}

#cabecalho {
  background: url("user.png") no-repeat 8px 0px;
  background-position: 5px -10px;
}

#cabecalho h1 {
  margin-left: 80px;
}

.item {
  border-top: 5px solid white;
  padding: 8px 0 8px 50px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

#items {
  border-bottom: 5px solid white;
}

#items ul {
  list-style: disc;
  margin: 0 0 1em 0;
}

.hide {
  display: none;
}

.submenu li {
  margin-left: 80px;
  font-size: 16pt;
}

#infos {
  display: block;
  width: 1467px;
  height: 870px;
  float: right;
  background-color: white;
  border-bottom: 5px solid white;
}

#rodape {
  clear: both;
  border-top: 5px solid #1d1a73;
}

#cargo {
  display: block;
  float: right;
  font-size: 8pt;
  margin-top: -35px;
  margin-right: 60px;
  font-family: 'FonteLogo';
  color: white;
  font-size: 12pt;
}

#bemvi {
  display: block;
  float: left;
  font-size: 8pt;
  margin-top: -20px;
  margin-left: 81px;
  font-family: 'FonteLogo';
  color: white;
  font-size: 12pt;
}

#rodape p {
  text-align: center;
  font-family: 'FonteLogo';
  color: white;
}

#rodape a {
  text-decoration: none;
  color: white;
}